$color_1: white;
$color_2: black;
$color_3: #888;
$color_4: #007bff;
$background-color_1: antiquewhite;
$background-color_2: rgba(232, 224, 224, 0.5);
$background-color_3: rgba(0, 0, 0, 0.6);
$background-color_4: black;
$background-color_5: #007bff;
$background-color_6: #0056b3;
$border-color_1: #e1dcd0;

/* Tùy chỉnh kích thước dấu X trong popup */
/* Đảm bảo dấu X không có viền */
/* thanh time line */
/* Phần tử chứa input và icon tìm kiếm */
/* Phần tử search */
/* Input tìm kiếm */
/* Icon tìm kiếm */
/* Thêm hiệu ứng khi hover vào input */

@import "https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  justify-content: space-between;
}
#map {
  height: 100vh;
  width: 90%;
}
h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 3%;
  // font-family: "Time New Roman", serif;
}
.link {
  margin-left: 50%;
  transform: translateX(-60%);
  background-color: $background-color_1;
  border-radius: 100px;
  padding: auto;
}
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
  img {
    width: 100%;
  }
}
.mySlides {
  display: none;
}
.prev {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 2%;
  color: $color_1;
  background-color: $background-color_2;
  text-decoration: none;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 2%;
  color: $color_1;
  background-color: $background-color_2;
  text-decoration: none;
  right: 0;
}
.mapboxgl-popup-content {
  // background: #0056b3 !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: 50% center;
  background-image: url(https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316) !important;
  padding: 10px;
  max-width: 500px;
  min-width: 350px;
  border-radius: 5% !important;
}
.slide-content {
  font-size: 14px;
  margin-top: 3%;
  margin-bottom: 5%;
  // font-family: 'Roboto', serif;
  overflow: auto;
  max-height: 14vh;
  text-wrap: auto;
}

.slide-content::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh cuộn */
}

.slide-content::-webkit-scrollbar-thumb {
  background-color: #a88527; /* Màu của phần kéo */
  border-radius: 4px; /* Bo tròn góc */
}

.slide-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu khi di chuột vào */
}

.slide-content::-webkit-scrollbar-track {
  background-color: #e1dcd0; /* Màu nền của thanh cuộn */
  border-radius: 4px;
}

.mapboxgl-popup-close-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: black;
  background-color: $background-color_3;
  border-radius: 50% !important;
  top: 10px;
  right: 10px;
  &:focus {
    outline: none;
  }
}
.time_line_container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  height: 100vh;
}
.timeline {
  position: relative;
  // border-radius: 100px;
  // background: #f8f9fa;
  background-image: url(https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316);
  width: 280px;
  justify-content: space-between;
  &::before {
    content: "";
    position: absolute;
    left: 10%;
    top: 0;
    width: 4px;
    height: 100vh;
    background: black;
  }
}
.timeline-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 50px;
  &:hover {
    cursor: pointer;
  }
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $background-color_4;
  position: absolute;
  left: 30px;
  transform: translateX(-50%);
}
.date {
  margin-left: 20px;
  font-size: 14px;
  color: $color_2;
}
.timeline-item.active {
  .circle {
    background-color: $background-color_5;
    color: $color_1;
  }
}
#resetNorthBtn {
  position: absolute;
  top: 65px;
  left: 1%;
  padding: 10px 20px;
  background-color: $background-color_5;
  color: $color_1;
  border: none;
  border-radius: 70px;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
  &:hover {
    background-color: $background-color_6;
  }
}
.glb-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  top: 0px;
  left: 1%;
  z-index: 1000;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
}
#btn-search {
  padding: 10px;
  padding-left: 40px;
  width: 150px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  // background-image: url(https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316);
  &:focus {
    border-color: $border-color_1;
  }
  &:hover {
    border-color: $border-color_1;
  }
}
#ico-search {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: $color_3;
  transition: color 0.3s ease;
  &:hover {
    color: $color_4;
  }
}
